<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__ul">
            <li class="main-header__li"><a href="/">Home</a></li>

            <li class="main-header__li"><a href="/add-product">Add Product</a></li>
            <li class="main-header__li"><a href="/login">Login</a></li>
            <li class="main-header__li"><a href="/register">Register</a></li>
        </ul>
    </nav>
</header>