<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <form method="POST">
            <label>UserName:</label>
            <input type="text" name="username" id="username_input">
            <label>Password:</label>
            <input type="password" name="password" id="password_input">
            <button type="submit">Log in</button>
        </form>
    </main>

    <%- include('includes/end.ejs') %>